<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>firstWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    	<param-name>DeepaRavi</param-name>
    	<param-value>Deepa.ravi@chainsys.com</param-value>
</context-param>
  <listener>
  <listener-class> com.chainsys.miniproject.listeners.SessionListener</listener-class>>
  </listener>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.chainsys.webapp.first.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>com.chainsys.webapp.first.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/LifeCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestParam</display-name>
    <servlet-name>RequestParam</servlet-name>
    <servlet-class>com.chainsys.webapp.first.RequestParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParam</servlet-name>
    <url-pattern>/RequestParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employees1</display-name>
    <servlet-name>Employees1</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Employees1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employees1</servlet-name>
    <url-pattern>/Employees1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttributesDemo</display-name>
    <servlet-name>AttributesDemo</servlet-name>
    <servlet-class>com.chainsys.web.home.AttributesDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributesDemo</servlet-name>
    <url-pattern>/AttributesDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionState</display-name>
    <servlet-name>SessionState</servlet-name>
    <servlet-class>com.chainsys.webapp.first.SessionState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionState</servlet-name>
    <url-pattern>/SessionState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GlobalState</display-name>
    <servlet-name>GlobalState</servlet-name>
    <servlet-class>com.chainsys.webapp.first.GlobalState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlobalState</servlet-name>
    <url-pattern>/GlobalState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointments</display-name>
    <servlet-name>DeleteAppointments</servlet-name>
    <servlet-class>com.chainsys.webapp.first.DeleteAppointments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointments</servlet-name>
    <url-pattern>/DeleteAppointments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctor</display-name>
    <servlet-name>DeleteDoctor</servlet-name>
    <servlet-class>com.chainsys.webapp.first.DeleteDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctor</servlet-name>
    <url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCollectedFees</display-name>
    <servlet-name>UpdateCollectedFees</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateCollectedFees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCollectedFees</servlet-name>
    <url-pattern>/UpdateCollectedFees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctorFees</display-name>
    <servlet-name>UpdateDoctorFees</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateDoctorFees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorFees</servlet-name>
    <url-pattern>/UpdateDoctorFees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctorName</display-name>
    <servlet-name>UpdateDoctorName</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateDoctorName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorName</servlet-name>
    <url-pattern>/UpdateDoctorName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointment</display-name>
    <servlet-name>UpdateAppointment</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointment</servlet-name>
    <url-pattern>/UpdateAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appointments</display-name>
    <servlet-name>Appointments</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Appointments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appointments</servlet-name>
    <url-pattern>/Appointments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDoctorById</display-name>
    <servlet-name>GetDoctorById</servlet-name>
    <servlet-class>com.chainsys.webapp.first.GetDoctorById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDoctorById</servlet-name>
    <url-pattern>/GetDoctorById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctors</display-name>
    <servlet-name>Doctors</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Doctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctors</servlet-name>
    <url-pattern>/Doctors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>com.chainsys.webapp.first.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAppointmentById</display-name>
    <servlet-name>GetAppointmentById</servlet-name>
    <servlet-class>com.chainsys.webapp.first.GetAppointmentById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAppointmentById</servlet-name>
    <url-pattern>/GetAppointmentById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeById</display-name>
    <servlet-name>GetEmployeeById</servlet-name>
    <servlet-class>com.chainsys.webapp.first.GetEmployeeById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeById</servlet-name>
    <url-pattern>/GetEmployeeById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctor</display-name>
    <servlet-name>UpdateDoctor</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctor</servlet-name>
    <url-pattern>/UpdateDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeFirstName</display-name>
    <servlet-name>UpdateEmployeeFirstName</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateEmployeeFirstName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeFirstName</servlet-name>
    <url-pattern>/UpdateEmployeeFirstName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeSalary</display-name>
    <servlet-name>UpdateEmployeeSalary</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateEmployeeSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeSalary</servlet-name>
    <url-pattern>/UpdateEmployeeSalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientName</display-name>
    <servlet-name>UpdatePatientName</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdatePatientName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientName</servlet-name>
    <url-pattern>/UpdatePatientName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HTMLHelper</display-name>
    <servlet-name>HTMLHelper</servlet-name>
    <servlet-class>com.chainsys.miniproject.commonutil.HTMLHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLHelper</servlet-name>
    <url-pattern>/HTMLHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo</display-name>
    <servlet-name>SessionDemo</servlet-name>
    <servlet-class>com.chainsys.webapp.second.SessionDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo</servlet-name>
    <url-pattern>/SessionDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesDemo</display-name>
    <servlet-name>CookiesDemo</servlet-name>
    <servlet-class>com.chainsys.webapp.second.CookiesDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesDemo</servlet-name>
    <url-pattern>/CookiesDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>com.chainsys.webapp.second.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.chainsys.webapp.second.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParam</display-name>
    <servlet-name>InitParam</servlet-name>
    <servlet-class>com.chainsys.webapp.second.InitParam</servlet-class>
    <init-param>
            <param-name>phone</param-name>
            <param-value>9884598845</param-value>
  	</init-param>
  	<init-param>
            <param-name>mailid</param-name>
            <param-value>abcd@xyz.com</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParam</servlet-name>
    <url-pattern>/InitParam</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.chainsys.webapp.second.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.chainsys.webapp.second.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
</web-app>