@charset "ISO-8859-1";

body {
	margin: 30px;
}

h1 {
	/* border-width: 5px;
    border-style: solid;
    border-color: blue; */
	border: 5px #00ff00 solid;
	/*padding-left: 90px;*/
	padding: 30px 50px 70px 90px;
}

h3 {
	/*padding: 100px;*/
	width: 150px;
	height: 100px;
	box-sizing: content-box;
	border: 5px rgb(0, 255, 200) solid;
}